.add-task-wrapper {
  padding: 16px;
}

.activity-type-container {
  padding: 16px;
  display: flex;
  justify-content: space-around;
}

.activity-type-item {
  display: flex;
  gap: 8px;
  color: #585858;
}

.button-container {
  margin-top: 16px;
}
